# Java / Spring
**/target/
*.class

# Node / Angular
**/node_modules/
**/dist/
.angular/

# Logs
*.log

# Env / secrets
.env
*.env
application-local.properties
application-local.yml

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
